<!DOCTYPE html>
<html>
<head>
	<title>The Lena Park Fair Foods Reservation System</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>
  <body>
    <div class='container'>
      <header class='jumbotron'>
        <div class='container'>
          <img src="/img/Fair-foods-2.jpg" width="240" align="right" class="img-responsive">
          <h1>
          	Fair Foods at Lena Park
          </h1>
          <p>
          	Use this page to reserve fresh produce, breads, meats and other items.  Pick up on Tuesdays at Lena Park.  Each bag costs $2.
          </p>
         </div>
      </header>
      <p><a href="orders/new.ejs">View Order Form</a></p>  

    </div> <!--  End container -->
  </body>
</html>